/**
 * @file
 *
 * Theme Main Styling
 *
 *
 */

@import "base";
@import "compass/css3/border-radius";

/***********
~GENERIC
***********/

html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}
body {
  font-weight:100;
  margin:0;
  min-height:100%;
  width:100%;
}
.btn {
  background-color:#fff;
  border-radius:24px;
  color:#595959;
  display:inline-block;
  font-size:1.4em;
  font-weight:400;
  margin:30px 0;
  padding:10px 30px;
  text-decoration:none;
}
.btn:hover {
  opacity:0.8;
}

/* other objects */

.paddRow {
  background-color:#dadada;
  color:#818181;
  display:none;
  padding-bottom:40px;
}
.paddRow.aboutRow {
  background-color:#78c2d4;
  color:#FFF !important;
  display:block;
}
.paddRow .head {
  font-size:4em;
  font-weight:100;
  margin:40px 0;
}
.paddRow .close {
  cursor:pointer;
  position:absolute;
  right:50px;
  top:80px;
  width:38px;
}

.about {
  color:#818181;
}
.about section {
  margin:0 0 10%;
}
.about .head {
  font-size:4em;
  font-weight:100;
  margin:3% 0;
}
.about .subHead {
  font-size:2.5em;
  font-weight:100;
  margin:0 0 3%;
}
.about .txt {
  width:60%;
}
.about .image {
  width:26%;
}
.about .flLeft {
  float:left;
}
.about .flRight {
  float:right;
}

.projectHead.product {
  background-color:#87b822;
}
.projectHead .picture {
  margin-bottom:6%;
  margin-top:6%;
}
.projectHead .picture.right {
  margin-right:-3.5%;
}
.projectHead .text {
  position:absolute;
  width:49%;
}
.projectHead .centerText {
  margin:0 auto;
  padding-bottom:24%;
  padding-top:6%;
  text-align:center;
  width:55%;
}

.image {
  text-align:center;
}
.image img {
  vertical-align:top;
  width:100%;
}

.contactForm {
  width:50%;
}

.view-enter,.view-leave {
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -webkit-transition:all .5s;
  transition:all .5s;
}

body {
  color: $dark;
  @include m-links;
}
html, body, button, input, select, textarea {
  @include bearfont-main;
}
h1, h2, h3, h4, h5 {
  @include bearfont-titles;
  font-weight: 400;
}
#main {
  clear: both;
}
#page {
  min-width: 300px;
}
.navigation {
  float: left;
  width: 100%;
  padding: 15px 0;
}
@include breakpoint ($breakpoint-small-width) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
    a {
      width: 88%;
    }
  }
}
/***********
~STRUCTURE
***********/

h1 {
  font-size: 160%;
}
.wrapper {
  &.header {
    background-color: #8E8E8E;
    box-shadow: inset 0px -3px 6px #666;
    -moz-box-shadow: inset 0px -3px 6px #666;
    -webkit-box-shadow: inset 0px -3px 6px #666;
  }
  &.footer {
    background-color: $grey;
  }
}
.breadcrumb {
  margin: 20px 0;
}
/***********
~HEADER
***********/
.region-header {
  clear: none;
}

h1#site-name {
 font-size: 2em;
 line-height: .5em;
 margin: 70px 0 0 25px;
  a:link, a:visited {
      color: #ffffff;
  }
}
