/*********
 * PAGES *
 *********/

@import "base";

/*
 * Body
 */

body, html {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  #skip-link {
    @include element-invisible;
  }
}

/*
 * Header
 */

header {
  background: #FFFFFF;
  #logo {
    outline: 0;
    img {
      padding: 30px 0 15px 0;
      width: 180px;
    }
  }
}

/*
 * Main (container for everything else)
 */

 #page {
  position: relative;
  z-index: 5;
  clear: both;
  //margin-bottom: $footer-height;
  #main {
    #content {
      .ng-container {
        width: 100%;
        h1 {
          background: #fff;
        }
        h2 {
          margin: 0;
          padding: 0;
        }
        .section {
          float: left;
          width: 100%;
          clear: both;
          ul {
            padding: 0;
            margin: 0;
          }
          li {
            width: 100%;
            float: left;
            list-style-type: none;
            margin: 0;
            padding: 40px 0;
            .section-link {
              width: 100%;
              color: #fff;
              text-decoration: none;
            }
            &.odd {
              background: #F9B634;
            }
            &.even {
              background: #ddd;
              h2 {
                color: #999;
              }
            }
            &:hover, &.selected {
              color: #fff !important;
              background: #424242;
              text-decoration: none;
              h2 {
                color: #fff;
              }
              .description {
                color: #ccc;
              }
            }
          }
        }
      }
      .left {
        float:left;
      }
      .right {
        float:right;
      }
      .feature {
        color:#fff;
        display:block;
        .name {
          float:left;
          font-size:4em;
          font-weight:100;
          position:absolute;
          width:42%;
        }
        .img {
          float:right;
          margin-bottom:5%;
          margin-top:5%;
          width:30%;
        }
        &.odd {
          background: #F9B634;
        }
        &.even {
          background: #eee;
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}

/* Our Angular Layout */

.page-sections {
  #main {
    .wrapper {
      max-width: 100%;
      .section, .article {
        .wrapper {
          max-width: $max-width;
        }
      }
    }
  }
}
.anim {
  &.ng-enter,
  &.ng-leave,
  &.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
  }
}
.anim {
  &.ng-enter {
    left:20px;
    opacity:0;
    &.ng-enter-active {
      left:0;
      opacity:1;
    }
  }
  &.ng-leave {
    left: 0px;
    opacity: .1;
    &.ng-leave-active {
      left: 0;
      opacity: 0;
    }
  }
  &.ng-move {
    opacity:.5;
    &.ng-leave-active {
      opacity:1;
    }
  }
}

/*
 * Footer
 */

#footer {
  clear: both;
  //position: absolute;
  z-index: 4;
  bottom: 0;
  //height: $footer-height;
  width: 100%;
  .wrapper {
    text-align: center;
    .copyright {
      color:#adadad;
      text-align:center;
      width: 100%;
    }
  }
}
