<div class="article">
    <div class="search-section">
      <div class="wrapper">
        <input ng-model="query" placeholder="Quick Search ..[s].." class="text" id="search">
      </div>
    </div>
    <ul>
      <li ng-repeat="article in articles | filter:query orderBy:'title'" ng-class-odd="'odd'" ng-class-even="'even'" prism>
        <div class="wrapper">
          <div class="articles" key-nav>
          <h2>{{article.title}}</h2>
          <div class="description" ng-bind-html="renderHtml(article.body)"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
