<div class="section">
  <div class="search-section">
    <div class="wrapper">
      <input ng-model="query" placeholder="Quick Search ..[tab].." class="text">
    </div>
  </div>
  <ul>
    <li data-ng-repeat="section in sections | filter:query | orderBy:'name'" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'first':$first, 'last':$last}">
      <a href="#/section/{{section.tid}}" class="section-link" key-nav>
        <div class="wrapper">
          <h2>{{section.name}}</h2>
          <div class="description">{{section.description}}</div>
        </div>
      </a>
    </li>
  </ul>
</div>
